# Игнорировать бинарные файлы и директории
bin/
pkg/

# Игнорировать файлы зависимостей (если используете Go Modules)
vendor/

# Игнорировать файлы IDE (например, для VS Code, Goland и т.д.)
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать скомпилированные бинарные файлы
*.exe
*.out

# Игнорировать тестовые кэши
.testcache/

# Игнорировать файлы окружения (например, .env)
.env